<!-- Ainda vou adicionar o thymeleaf por isso não substitui criar-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WalletFlow - Registrar Transação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
    <nav class="navbar navbar-expand px-5 bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/dashboard">WalletFlow</a>
            <ul class="navbar-nav gap-4">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/metas">Metas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/transacoes">Transações</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-outline-danger">Sair</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h2 class="mb-1">Registrar Transação</h2>
                <p class="text-muted mb-0">Preencha os dados abaixo para registrar uma nova transação</p>
            </div>

            <a href="/transacoes" class="btn btn-outline-dark ms-auto">🠔 Voltar para transações</a>
        </div>

        <div class="card">
            <form class="card-body row g-4 p-4">
                <h4>Dados da Transação</h4>

                <div class="col-6">
                    <label for="data" class="form-label">Data</label>
                    <input type="date" class="form-control" id="data">
                </div>
                <div class="col-6">
                    <label class="form-label">Tipo de transação</label>
                    <div class="d-flex">
                        <input class="btn-check" type="radio" name="options-outlined" id="success-outlined" autocomplete="off">
                        <label class="col-3 btn btn-outline-success flex-fill rounded-end-0"  for="success-outlined">Entrada</label>

                        <input class="btn-check" type="radio" name="options-outlined" id="danger-outlined" autocomplete="off">
                        <label class="col-3 btn btn-outline-danger flex-fill rounded-start-0" for="danger-outlined">Saída</label>
                    </div>
                </div>

                <div class="col-6">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select id="categoria" class="form-select">
                        <option selected disabled>Escolha uma categoria</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="valor" class="form-label">Valor</label>
                    <div class="input-group">
                        <span class="input-group-text">R$</span>
                        <input type="number" class="form-control" id="valor">
                    </div>
                </div>

                <div class="col-12">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" id="descricao" placeholder=""></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Salvar Transação</button>
                </div>
            </form>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>