<!DOCTYPE html>
<html lang="pt-BR" th:data-bs-theme="${usuario.tema.valor}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WalletFlow - Listar Metas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">
<nav class="navbar navbar-expand px-5 bg-dark border-bottom" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/dashboard">WalletFlow</a>
        <ul class="navbar-nav align-items-center gap-4">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/metas">Metas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transacoes">Transações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/configuracoes">
                    <i class="bi bi-person-circle fs-5"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="container py-4 d-flex flex-column gap-4">
    <div th:if="${sucesso != null or erro != null}"
         class="alert alert-dismissible fade show"
         th:classappend="${sucesso != null ? 'alert-success' : 'alert-danger'}"
         role="alert">
        <span th:text="${sucesso != null ? sucesso : erro}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mb-1">Metas</h2>
            <p class="text-muted mb-0">Liste, filtre, edite ou exclua suas metas</p>
        </div>

        <a href="/metas/criar" class="btn btn-success">+ Nova Meta</a>
    </div>

    <div class="card overflow-hidden">
        <table class="table table-hover mb-0 text-center align-middle">
            <thead class="table-dark ">
            <tr>
                <th scope="col">Mês / Período</th>
                <th scope="col">Limite Estipulado</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${metas}">
                <td th:text="${#temporals.format(m.data, 'MMMM ''de'' yyyy')}"></td>
                <td class="fw-bold" th:text="|R$ ${#numbers.formatDecimal(m.valor, 1, 'POINT', 2, 'COMMA')}|"></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-primary" th:href="@{/metas/{id}/editar(id=${m.id})}">Editar</a>
                        <a class="btn btn-sm btn-outline-danger" th:href="@{/metas/{id}/excluir(id=${m.id})}">Excluir</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>